Django==4.0.6
python-dotenv>=0.21.0,<0.22
tensorflow==2.9.0
keras==2.9.0
mtcnn>=0.1.1,<0.2
djangorestframework>=3.14.0,<3.15
drf-yasg>=1.21.4,<1.22
Pillow>=9.0.0,<9.1
django-cors-headers>=3.13.0,<3.14